$main: rgb(117, 110, 110);
$input-font-size: 30px;
$input-line-height: 70px;
$font-family: Roboto Slab, sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  #root {
    color: $main;
  }
}
